// styles
// RESET
*,
*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

// RESET END

// app styles
body {
}

.box {
    width: 5rem;
    height: 5rem;
    background: lighten(indigo, 20);
    color: #fff;
}
//badge style
span.badge {
    position: relative;
    transform: translateX(-2rem);
    border-radius: 500px;
    z-index: 2;
}